/*---------- NAV ---------*/
@media screen and (max-width: 800px) {
  .primerLogo {
    text-align: center;
  }
}

@media (max-width: 1169px) {
  .navbar, .logo-nav {
    justify-content: center;
  }
}

@media (max-width: 1169px) {
 .primerLogo {
 text-align: center;
 margin-bottom: 0.5%;
  }
}

@media (max-width: 518px) {
  .container-nav {
    margin-right: 2%;
    margin-left: 2%;
   }
 }

 @media (max-width: 518px) {
  .btn-nav,
  .btn-nav2{
    margin-top: 1%;
    margin-bottom: 1%;;
   }
 }


/*---------- BUSCAR ----------*/
@media screen and (max-width: 1500px) {
  .buscar {
    margin-top: -5.5%;
  }
  .form-inline {
    width: 30%;
  }
}
@media screen and (max-width: 1000px) {
  .buscar {
    margin-top: 1.5%;
    display: flex;
    justify-content: center;
  }
  .form-inline {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .buscar {
    margin-top: 1%;
    display: flex;
    justify-content: center;
  }
  .form-inline {
    width: 50%;
  }
}

/* CARTAS */
@media screen and (max-width: 1200px) {
  .CARTAS {
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media screen and (max-width: 1000px) {
  .CARTAS {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-bottom: 1%;
  }
}

/*---------- CONTACT ----------*/
@media screen and (max-width: 800px) {
  .container-form {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/*---------- FOOTER ----------*/
@media screen and (max-width: 1500px) {
  .img-footer {
    width: 4%;
  }
}
@media screen and (max-width: 1000px) {
  .img-footer {
    width: 5%;
  }
}
@media screen and (max-width: 800px) {
  .img-footer {
    width: 8%;
  }
}
